
*.iml
*.xml
*.meta
machine_learning1/cifar-10-batches-py/data_batch_1
machine_learning1/cifar-10-batches-py/data_batch_2
machine_learning1/cifar-10-batches-py/data_batch_3
machine_learning1/cifar-10-batches-py/data_batch_4
machine_learning1/cifar-10-batches-py/data_batch_5
*.html
machine_learning1/cifar-10-batches-py/test_batch
machine_learning1/classification_template.py
machine_learning1/main.py
machine_learning1/mnist_dataset/data_batch_1
machine_learning1/mnist_dataset/data_batch_2
machine_learning1/mnist_dataset/data_batch_3
machine_learning1/mnist_dataset/data_batch_4
machine_learning1/mnist_dataset/data_batch_5
machine_learning1/mnist_dataset/data_batch_6
machine_learning1/mnist_dataset/test_batch
